<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxHsmZq4wTRGEPXONZd5g7Mandna2X8BA</string>
	<key>GCM_SENDER_ID</key>
	<string>105008185330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthapp</string>
	<key>PROJECT_ID</key>
	<string>healthapp-2a7fc</string>
	<key>STORAGE_BUCKET</key>
	<string>healthapp-2a7fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105008185330:ios:6998e6e63dff76e6a9756b</string>
</dict>
</plist>